@charset "utf-8";

@import url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff');
:root{
  /* color */
  --color-bg: #fff;
  --color-main: #d52a30;
  --color-font: #2a2a2a;
}

/* section main */
#main > .header{
  padding: 0 30px;
  margin: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main > .header > .gnb{
  display: flex;
  margin: 0 20px;
  gap: 5rem;
  font-size: 22px;
}
#main > .header > .gnb > li:hover{
  color: var(--color-main);
  cursor: pointer;
}
#main > img{
  width: 100vw;
}

/* section new */
#new > .high{
  padding: 0 50px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#new > .high > h2{
  font-size: 50px;
}
#new > .wrap{
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#new > .wrap > .wrapper{
  padding: 50px 30px;
  margin: 30px 10px;
  display: flex;
  align-items: center;
}
#new .wrapper > img{
  width: 300px;
}
#new > .wrap > .wrapper > .txt{
  padding: 1rem;
}
#new > .wrap > .wrapper > .txt > p:first-child{
  font-size: 20px;
  color: var(--color-font);
}
#new > .wrap > .wrapper > .txt > a > i{
  padding: 30px 10px 0 0;
}

/* section clothing */
#clothing > h2{
  font-size: 50px;
  padding: 0 50px;
  margin: 30px;
}
.cloth{
  padding: 0 50px;
  display: flex;
  gap: 3rem;
}
.cloth > .cl-menu > li{
  padding: 5px 30px;
}
.cloth > .cl-menu > li > a{
  font-size: 28px;
}
.cloth > .cl-menu > li > a:hover{
  font-weight: 600;
}
.gallery > ul{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.gallery li > .price{
  padding: 1rem;
}
.gallery li > .price > a > i{
  padding: 20px 10px 0 0;
}

/* section footer */
#footer > a > img{
  width: 100vw;
  padding-top: 2rem;
}
#footer > div{
  display: flex;
  align-items: center;
}
#footer > div > a > img{
  margin-bottom: 20px;
}
#footer > div > .help{
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}
#footer > div > .help > .sns > ul > li > span{
  font-size: 20px;
}
#footer > div > .help > .sns  i{
  font-size: 2rem;
  padding: 5px;
}
#footer h4{
  font-size: 22px;
}
#footer > div > .help p{
  padding: 5px 0;
}
#footer > div > ul > .tel > ul > li:nth-child(2) > p{
  color: #777;
} 
#footer > p{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-font);
  padding: 2rem;
  color: var(--color-bg);
}